.board-container {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 15px;
}

.name-plate {
    padding: 10px;
    border-bottom: 3px solid black;
}

#p1-name-plate {
    grid-column-start: 1;
    grid-column-end: 3;
}

#p2-name-plate {
    grid-column-start: 4;
    grid-column-end: 6;
}

.board-container div{
    height: 50px;
    font-size: 50px;
    line-height: 50px;
}

.board-container img{
    height: 50px;
}

.board-center {
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.board-container .dart-display {
    font-size: 16px;
    font-weight: bold
}

.right-mark {
    border-right: 3px solid black;
}

.left-mark {
    border-left: 3px solid black;
}