.board-container {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.name-plate {
    font-size: 40px;
}
.board-container div{
    height: 50px;
    font-size: 50px;
    line-height: 50px;
}

.board-container img{
    height: 50px;
}